.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    margin: 50px;
    background-color:rgba(33, 96, 109, 0.2);
}
.login-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.login-title h1{
    font-weight: 700;
    font-size: 6rem;
    color: var(--white);
}
.login-title p{
    font-weight:700;
    font-size: 2rem;
    color: var(--white);
}
.login-form-container{
    display: flex;
    flex-direction: column;
    border-radius: 6px;

}
.login-container-tabs{
    display: flex;
    column-gap: 6px;
    justify-content:flex-start;
    width: 100%;
    cursor: pointer;
    margin-left:6px ;
}
.login-tab{
    background-color:var(--main);
    display: flex;
    padding: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}