.nav-container {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--main) ;
    height: 60px;
    width: 100%;
    box-shadow: var(--boxShadow);
    z-index: 6;
}
.nav-container h1{
    font-weight: 400;
}
.container-child{
    display: flex;

}