
/* CSS */
.button-container {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292E;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.button-container:hover {
  background-color: #7295da;
  text-decoration: none;
  transition-duration: 0.3s;
  color: var(--white);
}
.button-container:disabled{
    background-color: var(--lightgrey);
    color: var(--main);
}