.side-container{
    display: flex ;
    height: 100vh;
    width: 250px;
    background-color: var(--lightgrey);
}
.oppener{
    display: flex; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 19px;
    padding: 4px;
    background-color: #fff;
    cursor: pointer;
    box-shadow:right rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.side-container-child{
    display: flex;
    width: 100%;
    padding: 4px;
}